{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% load static %}
<body>

<div class='card' style="width: 624px; margin: 0 auto;">
  <img class="card-img-top" style="margin: 0 auto;" src="{% static "/skyward_test/skyward_logo.png" %}" alt='Card image cap'>
<div class='card-block'>
<div class="jumbotron jumbotron-fluid">
<div class='container'>
  <h1 class='display-3'>FRoST Monitor</h1>
  <p class='lead'>a simple prototype from team Skyward</p>
  {% buttons %}
    <a href="/admin/"><button  class="btn btn-primary">
      {% bootstrap_icon "cog" %} admin
    </button></a>
    <a href="/polls/"><button  class="btn btn-primary">
      {% bootstrap_icon "ok" %} polls
    </button></a>
    <a href="/jackfrost/"><button  class="btn btn-primary">
      {% bootstrap_icon "flash" %} api
    </button></a>
  {% endbuttons %}
</div>
</div>
</div>
</div>

</body>

{# Read the documentation for more information #}
